.hello {
    border: 5px solid #1e1e1f;
    background-color: #1e1e1f;
    height: 55px;
    border-top: 60px;
    max-width: 1200;
}


#b{
    text-align: end;
    font-size: 30px;
    font-weight: 700;
}


#a {
    padding-left: 200px;
    color:#3b4ead;
}

.grid-container {
    border: 2px solid #24252b;
    width: 250px;
    height: 750px;
    background-color: #24252b;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
}

#hus:hover {
    background-color: #3b4ead;
}

/*.fas fa-cloud-download-alt:hover{
    color:white;
}

.fas fa-sliders-h:hover{
    color:white;
}

.fab fa-soundcloud:hover{
    color:white;

}
.fas-fa:hover {
    background-color:white;
    color:white;
}*/

.fas:hover {
    background-color: #3b4ead;
    color:white;
}
.fas {
    color: #3b4ead;
}

    .far:hover {
        background-color: #3b4ead;
        color: white;
    }

.far {
    color: #3b4ead;
}

.fab:hover {
    background-color: #3b4ead;
    color: white;
}

.fab {
    color: #3b4ead;
}


.heyyou {
    margin-left: 20px;
    margin-top: 5px;
}

.container {
    margin-left: 260px;
    position: relative;
    bottom: 748px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}