.hello{
    border:5px solid #242f40;
    background-color: #242f40;
    height: 50px;
    border-top: 60px;
    max-width: 1200;
}


#b{
    text-align: end;
    font-size: 30px;
}

    
#a{
    text-align: center;
    padding-left: 200px;
    color: #61a5c2;
    
}

.far{
    font-size: 45px;
    margin-left: 40px;
    color:#f8edeb;
}

.fas{
    font-size: 25px;
    text-align: end;
    margin-left:600px ;
    color:#f8edeb ;
}
